{
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 3000,
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
